<hr class="sr-only">
<article class=" item dt w-100 bb b--black-10" data-url="<%= item.via %>">
  <div class="dtc pa2">
    <% if item.title %>
      <a class="link black lh-title f5 fw6 underline-hover" href="<%= item.url %>"><%= item.title %></a>
    <% end %>
    <div class="metadata">
    <% if item.html %>
      <div class="f6">
        <%= item.html.html_safe %>  
      </div>
    <% end %>
    
    <% if item.image %>
      <span class="tc mt3">
        <%= image_tag thumb_url(item.image, geometry: '800x800'), alt: 'image', class: 'img-fluid' %>
      </span>
    <% end %>

    <% if item.counts %>
      <% item.counts.each do |k, v| %>
        <a class="f6 link gray underline-hover" href="<%= item.via %>">
          <%= number_to_human(v) %>
          <%= k.pluralize(v) %>
        </a> 
      <% end %>
    <% end %>
    
    <% if item.author %>
      <a class="f6 link gray underline-hover" href="<%= item.via %>">
        @<%= item.author %> 
      </a>
    <% end %>
        
    <% if item.created_at %>
        <span class="f6 black-20"> |
          <%= time_tag(item.created_at, time_ago_in_words(item.created_at)) %>
        </span>
    <% end %>
    </div>
  </div>
  <div class="hide dtc v-mid dim w3 tc bl b--black-10 pointer">
    <%= image_tag("check-confirm-ok-done.png", size: "24", :alt => "Mark as read") %>
  </div>
</article>

