  <ul class="list pl0 mt3 mb0 white-50">
    <li class="pv2">
      <%= link_to_search('hackernews') %>
      <span class="db">hackernews homepage</span>
    </li>
    <li class="pv2">
      <%= link_to_search('hn time:week limit:30 tag:show_hn', highlight_filters: true) %> 
      <span class="db ">filters</span>
    </li>
    <li class="pv2">
      <%= link_to_search('reddit blackberry') %>
      <span class="db ">subreddit</span>
    </li>
    <li class="pv2">
      <%= link_to_search('r argentina merval') %>
      <span class="db ">multireddit</span>
    </li>
    <li class="pv2">
      <%= link_to_search('r news worldnews sort:top time:day limit:10', highlight_filters: true) %>
    </li>
    <li class="pv2">
      <%= link_to_search('twitter design') %>
      <span class="db ">twitter search</span>
    </li>
    <li class="pv2">
      <%= link_to_search('t design type:recent limit:100', highlight_filters: true) %>
    </li>
    <li class="pv2">
      <%= link_to_search('wikipedia events') %>
      <span class="db ">wikipedia special news page </span>
    </li>
    <li class="pv2">
      <%= link_to_search('w events time:week', highlight_filters: true) %>
    </li>
  </ul>

