<% content_for(:title, "News from #{@query}") %>
<% content_for(:page, 'search') %>
<% content_for(:query, @query) %>
<% content_for(:results, @results) %>

<% if @results.present? %>
  <div class="bg-gray w-100 " style="z-index: 999; top: 58px; height: 24px; background: #fff; border-bottom: solid 1px #EBEBEB;">
    <span class="ph2" style="color: #646464; font-size: 12px; font-weight: normal;">Showing <strong><%= pluralize(@results.size, "result") %></strong> from  <%= @source.title %></span>
  </div>

  <div class="alert alert-success" role="alert" style="<%= alert ? '' : 'display:none' %>">
    <%= alert %>
  </div>

  <% @results.each do |item| %>
    <%= render 'item', item: item %>
  <% end %>

  <% if @source.source_title %>
    <p class="text-center text-muted">Search powered by <%= link_to @source.source_title, @source.source_url %></p>
  <% end %>
<% else %>
  <header class="mb-5">
    <h1 class="display-3 text-center mb-3">No results :(</h1>
  </header>

  <%= render 'search/suggested_queries' %>

  <% if @query.blank? %>
    <%= render 'search/saved_queries' %>
  <% end %>
<% end %>
