<% content_for(:page, 'home') %>

<div class="flex flex-column justify-center align-center bg-black home-top">
  <div class="">
    <header class="mb-sm-5">
      <h1 class="f3 f2-m f1-l fw2 white mv3 tc">Search the news</h1>
    </header>

    <%= render 'search/form' %>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center mt-4 home-bottom">
  <div class="alert alert-success" role="alert" style="<%= alert ? '' : 'display:none' %>">
    <%= alert %>
  </div>

  <%= render 'search/suggested_queries' %>

  <%= render 'search/saved_queries' %>
</div>
