<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for(:title) || 'News' %></title>
    <% if controller_name == 'search' && action_name == 'index' %>
      <%= auto_discovery_link_tag(:atom, search_url(format: :atom, q: params[:q]), title: content_for(:title)) %>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= content_for(:page) %>" class="flex flex-column min-vh-100 overflow-x-hidden">

<!-- 
    <% #unless content_for(:page) == 'home' %>
      <%= render 'layouts/navbar' %>
    <% #end %>
-->
    <nav role='navigation' class="db fixed w5 right-0 top-0 vh-100">
      <div id="menuToggle" class="db fixed w3 h3 bg-black-50 right-0 bottom-0">
      </div>
      <ul>
      <li>item 1</li>
      </ul>
    </nav>

    <div class=" center w-100">
      <%= yield %>
    </div>

    <footer class="mt2">
      <div class="ph4">
        <p class="text-center text-muted">
          <span>By <a href="https://orph.eu" class="text-muted"><strong>mario</strong></a>; forked and adapted from <a href="https://github.com/vinc/news.vinc.cc" class="text-muted"><strong>vinc</strong></a>.</span>
          <span>Code licensed <a href="https://raw.githubusercontent.com/seekr/news.vinc.cc/master/LICENSE" class="text-muted"><strong>MIT</strong></a>.</span>
        </p>
      <div>
    </footer>
  </body>
</html>
