<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for(:title) || 'News' %></title>
    <% if controller_name == 'search' && action_name == 'index' %>
      <%= auto_discovery_link_tag(:atom, search_url(format: :atom, q: params[:q]), title: content_for(:title)) %>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= content_for(:page) %>" class="sans-serif flex flex-column min-vh-100 overflow-x-hidden">

    <% #unless content_for(:page) == 'home' %>
      <%= render 'layouts/navbar' %>
    <% #end %>

    <nav role='navigation' class=" db flex justify-end content-start vh-100 w-100 fixed left-0 top-0 closed bg-black-60">
      <div class="db w-80 vh-100 bg-black">
        <%= render 'search/suggested_queries' %>
        <%= render 'search/saved_queries' %>
      </div>
      </nav>

    <div class=" center w-100">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
